<%- include header %>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="row">
    <%- include left %>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
        <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
            </ol>
            <div class="jumbotron">
                <h3>总会员量:<%= datas.totaluser %></h3>
                <h3>当日新增会员量:<%= datas.newuser %></h3>
                <h3>系统余额:<%= datas.totalETZ %></h3>
                <h3>当日新充值量:<%= datas.newDeposit %></h3>
                <h3>已经入仓币量:<%= datas.total %></h3>
                <h3>提现总量:<%= datas.totalwithdraw %></h3>
                <h3>当日提现量:<%= datas.newithdraw %></h3>
                <h3>剩余量自动矿工排队量:<%= datas.remain %></h3>
                <h3>第一仓总量:<%= datas.firstspace %></h3>
                <h3>第二仓总量:<%= datas.secspace %></h3>
                <h3>提现手续费收入统计:<%= datas.withdrawfee %></h3>
                <h3>总量:<%= datas.servicefee %></h3>
                <h3>500档个数:<%= datas.count1 %></h3>
                <h3>1000档个数:<%= datas.count2 %></h3>
                <h3>3000档个数:<%= datas.count3 %></h3>
                <h3>5000档个数:<%= datas.count4 %></h3>
                <h3>10000档个数:<%= datas.count5 %></h3>
            </div>
        </div>
    </div>
</div>
<%- include footer %>