<%- include header %>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
<%- include left %>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/phenix">仓位管理</a></li>
            </ol>
            <div class="row" style="margin-left:10px">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addTx">
                    <span class="glyphicon glyphicon-plus"></span> Add Phenix
                </button>
            </div>
            <table class="table">
                <thead>
	                <tr>
	                    <th>phenixId</th>
	                    <th>startGoal</th>
	                    <th>refundRate</th>
	                    <th>state</th>
	                    <th>CreateTime</th>
                        <th>Operate</th>
	                </tr>
                </thead>
                <tbody>
                <% phenixlist.forEach(function(value){ %>
                <tr>
                    <td>
                        <% if(value['Number']==null){ %>
                            --
                        <% }else{ %>
                            <%= value['Number']%>
                        <% } %>
                    </td>
                    
                    <td>
                        <% if(value['Amount']==null){ %>
                            --
                        <% }else{ %>
                            <%= Number(value['Amount']).toFixed(2)%> 
                        <% } %>
                    </td>
                    <td>
                        <% if(value['Percentage']==null){ %>
                            --
                        <% }else{ %>
                            <%= value['Percentage']%>
                        <% } %>
                    </td>
                    <td>
                        <% if(value['Istatus']==1){ %>
                            未开启
                        <% }else if(value['Istatus']==2){ %>
                            进行中
                        <% }else if(value['Istatus']==3){ %>
                            成功
                        <% }else if(value['Istatus']==4){ %>
                            失败
                        <% } %>
                    </td>
                    <td><%=  new Date(value['Startime']).getFullYear()+'-'+(new Date(value['Startime']).getMonth()+1)+'-'+new Date(value['Startime']).getDate()+' '+new Date(value['Startime']).getHours()+':'+new Date(value['Startime']).getMinutes()+':'+new Date(value['Startime']).getSeconds() %></td>
                    <td>
                        <button type="button" class="btn btn-warning" onclick="roundManBtn('<%=value['Number']%>')">
                            轮次管理
                        </button>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 text-center">
                <ul class="pagination">
                    <%- include page %>
                </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="addTx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加Phenix
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
            
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">startGoal : </label>
                        <div class="col-sm-8">
                            <input name="startGoal" id="amount" type="text" class="form-contol" placeholder="startGoal" />
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button type="button" onclick="addPhenixbtn()" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="testmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p style="font-size: 20px" id="messages">
                </p>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<%- include footer %>
<script type="text/javascript">
  function addPhenixbtn(){
      $("#addTx").modal("hide")
    //   $(".modal-backdrop").css("display","none")
      let amount = $("#amount").val()
      axios.post('/add_startNewPhenix',{"amount":amount}).then(function(ress){
          if(ress.data.resp=='已有矿场正在进行招募'){
              $("#messages").html(ress.data.resp)
              $("#testmodal").modal("toggle")
              
          }else{
            window.location.reload();
          }
      })
  }
    
  function roundManBtn(phenixId){
    window.location.href="/round?phenixId="+phenixId;
  } 
</script>
